
@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round');

body{
  background-color: #61574B;
  color: #ededed;
  padding: .5em;}

h1, h2{
  font-family:'Raleway', sans-serif;
}
a{
  text-decoration:none;
  font-family: 'Varela Round', sans-serif;
  color:#ededed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  ;
}

.view-assignment{
  background-color: #68703C;
  border-radius: 5px;
  padding: 1em;
  color:#ededed;
  width: 200px;
}

.view-assignment:hover{
  cursor:pointer;
  background-color: #ededed;
  color: black;
}

.view-assignment:hover a{
  color:#68703C
}
