
@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round');

body{
  background-color: #61574B;
  color: #d3d3d3;
  padding: .5em;}

h1, h2{
  font-family:'Raleway', sans-serif;}

a{
  font-family: 'Varela Round', sans-serif;
  color:#d3d3d3}
