

/* Header Bars */
.navBar{
list-style-type: none;
margin: 0;
padding: 0;
}

body
{
  max-width: 1000px;
  padding: 1em;
}

*{
  background-color: #61574B;
  color: #d3d3d3;
  font-family:'Raleway', sans-serif;
}


div, section, aside, header, main, footer, .homePageContent
{
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}


header, main, .eventsBox
{
  text-align: center;
}

h3{
  text-align: left;
}

.pictureBox{
  background-color: gray;
  height: 250px;
  line-height: 125px;
}

/* Reservations Page */
/* Calendar Box */


/* Package Container*/
.packageBox{
  color: blue;
  text-decoration: underline;
}
