<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round');
>>>>>>> origin/master


/* Header Bars */
.navBar{
list-style-type: none;
margin: 0;
padding: 0;
}

body
{
  background-color: #61574B;
  color: #d3d3d3;
  font-family:'Raleway', sans-serif;
  max-width: 1000px;
  padding: 1em;
}


div, section, aside, header, main, footer, .homePageContent
{
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}


header, main, .eventsBox
{
  text-align: center;
}

h3{
  text-align: left;
}

.pictureBox
{
  background-color: gray;
  height: 250px;
  line-height: 125px;
}

/* Reservations Page */
/* Calendar Box */


<<<<<<< HEAD
=======
.calendarBox ul
{
  margin: 0;
  padding: 0;
}

.calendarBox ul li
{
  color: gray;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays
{
  margin: 0;
  padding: 10px 0;
  background-color: gray;
}
.weekdays li
{
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}
.days
{
  padding: 10px 0;
  backgound: blue;
  margin: 0;
}
.days li
{
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: gray;
}

>>>>>>> origin/master
/* Package Container*/
.packageBox{
  color: blue;
  text-decoration: underline;
}


/*footer*/

footer
{
  background-color: #ededed;
  color: #61574B;
  font-family: 'Varela Round', sans-serif;
  display:flex;
}

.footerBar li {
  list-style: none;
}

.footerLogo {
  width: 100px;
}

.footerSM{
  width: 60px;
}

#footerIcons{
  margin-left: auto;
  border: none;

}
